PORT=3001
HF_TOKEN=your_hugging_face_token_here
DATABASE_URL=postgres://username:password@hostname:port/database_name

# Email serveice
GMAIL_USER=your_email@gmail.com
GMAIL_APP_PASSWORD=your_16_character_app_password
JWT_SECRET=any_random_string_you_want

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
